@{
    Layout=null;
}
<html>
<head></head>
<body>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <div id="divfirst"></div>
    <div id="divsecond"></div>
    <script src="~/js/site.js"></script>

</body>
</html>